[submodule "src/libportable-ng/minhook"]
	path = src/libportable-ng/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "src/setdll/detours"]
	path = src/setdll/detours
	url = https://github.com/microsoft/Detours
	ignore = dirty
[submodule "src/ico-encoder"]
	path = src/ico-encoder
	url = https://github.com/Ablaze-MIRAI/ico-encoder
