/floorp
/floorp.exe
/src/runtime/floorp
/src/runtime/floorp.exe
/src/runtime/l10n-asset-dir
/omni_tmp_root
/omni_tmp_browser
/core
/dist
/Profiles
/profiles
/Profile
/cache
node_modules
*.zip
*.tar.bz2
*.tar.zst
resource.syso
