/floorp
/floorp.exe
/omni_tmp_root
/omni_tmp_browser
/patcher_src/patcher
/patcher_src/patcher.exe
/patcher
/patcher.exe
/core
/Profiles
/profiles
/Profile
/cache
node_modules
*.zip
*.tar.bz2
floorp-package.exe
